@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Font section done 
______________________________________ */

/* shared styles */
.display-flex{
  display: flex;
}

.text-primary{
  color: #FF900E;
}

/* dark 02 */
.text-gray{
  color: #424242;
}

/* dark03 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}



/* __________________________________________ */

/* Header Styles  */





/* Navbar Related styles  */
.navbar {
  justify-content: space-between;
  align-items: center;

}
.brand {
  font-weight: 700;
  font-size: 2.6rem;
}


.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar, .banner {
  max-width: 1140px;
  margin: 0 auto;
}




/* Banner related style */
.banner {
 
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;

}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
}

.banner-image {
  max-width: 100%; 
  /* border: 2px solid blue ; */
  

}



/* team and features related  */
.teams {
  align-items: center;

}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  

}

.out-features {
  margin-left: 100px;
  max-width: 500px;
}








/* Responsive  */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .features,
    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container, 
    .sponsor-companies
    {
        grid-template-columns: 1fr;
    }
    .facts-container{
      justify-items: center;
      gap: 24px;
  }

  
}